* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#1b71f3), color-stop(50%, #1b71f3), color-stop(50%, #747a7c), to(#747a7c));
  background: linear-gradient(#1b71f3, #1b71f3 50%, #747a7c 50%, #747a7c 100%);
}

.card {
  position: relative;
  width: 300px;
  height: 380px;
  background: #000;
  -webkit-box-shadow: 0 15px 45px rgba(0, 0, 0, 0.5);
          box-shadow: 0 15px 45px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}
.card .imgBox {
  position: relative;
  min-width: 300px;
  height: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.card .imgBox img {
  max-width: 250px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.card .details {
  position: relative;
  min-width: 300px;
  height: 100%;
  background: #2e80dd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.card .details h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1em;
}
.card .details h3 span {
  font-size: 0.65em;
  font-weight: 300;
  text-decoration: none;
  opacity: 0.85;
}
.card .details h4 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9em;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1em;
}
.card .details p {
  color: #fff;
  opacity: 0.85;
  font-size: 0.8em;
}
.card .details .color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.card .details .color li {
  list-style: none;
  color: #fff;
  font-size: 0.9em;
  width: 70px;
  height: 40px;
  border: 2px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  opacity: 0.65;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.card .details .color li:hover {
  color: #2e80dd;
  background: #fff;
  opacity: 1;
}
.card .details .group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
.card .details .group h2 {
  color: #fff;
  font-weight: 600;
  font-size: 2em;
}
.card .details .group h2 sup {
  font-weight: 300;
}
.card .details .group h2 small {
  font-size: 0.75em;
}
.card .details .group a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px 25px;
  text-decoration: none;
  background: #fff;
  text-transform: uppercase;
  font-weight: 500;
  color: #2e80dd;
}
.card .details::before {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #fff;
}

.card:hover {
  width: 600px;
}